# Dependencies
node_modules/
dist/
build/
vendor/

# Go-specific build and cache
/backend/bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.sum

# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies

# IDE: GoLand
.idea/
*.iml
*.iws
*.ipr
*.swp
.DS_Store

# IDE: VS Code
.vscode/

backend/.env
.gitignore
.env

.idea/finetic.iml
.idea/modules.xml
.idea/inspectionProfiles/Project_Default.xml

# Environment files
.env.local
.env.*.local
.venv
env/
venv/
*.pem
*.key

# Python
__pycache__/
*.py[cod]
*$py.class

# OS specific
Thumbs.db

# Logs
*.log

finetic_file_structure.md

/backend/api
